html {
    --base-size: 100%;
    font-size: var(--base-size);
}

@media print {
    html {
        font-size: 100%;
    }
}

body {
    font-size: 1rem;
    margin: 0;
}

.control-panel {

}

@media print {
    .control-panel {
        display: none;
    }
}

.cv {
    width: 100%;
    max-width: 64rem;
    background-color: pink;
    margin: 0 auto;
}

.header {
    display: flex;
    box-shadow: 10px 10px 10px red;
}